/* init */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,700');

:root {
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', sans-serif;
  }

body,
html {
    height: 100%;
    margin: 0;
    font-family:var(--roboto-mono) !important;
}


/* MAIN CONTENT*/

.main-menu{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.main-menu .tab{
    width: 20%;
    height: 100%;
    background: #444;
    float:left;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-menu .tab-big{
    width: 40%;
}

.main-menu .tab .content{
    position: absolute;
    bottom: 0px;
    left:5%;
    width: 90%;
    padding: 10px;
    margin-bottom: 55px;
}

.main-menu .content .title{
    font-family: var(--roboto) !important;
    font-size: 22px;
    color: #FFF;
    font-weight: bold;
}

.main-menu .content .bar{
    width: 50px;
    height: 1px;
    background: #FFF;
}

.main-menu .content .text{
    font-family: var(--roboto-mono) !important;
    font-size: 14px;
    color: #FFF;
    height: 65px;
    margin-top: 10px;
    overflow: hidden;
}

.ciicesi-tab{
    background-color: rgba(0,255,0,.8); 
    background-blend-mode: multiply;
    background-image: url('https://images.unsplash.com/photo-1481627834876-b7833e8f5570?auto=format&fit=crop&w=541&q=80');
}

.projetos-tab{
    background: rgb(23, 32, 114) !important;
}

.equipa-tab{
    background: rgb(148, 49, 24) !important;
}

.novidades-tab{
    background: rgb(99, 21, 119) !important;
}

/* BG NOVIDADES */

.bg-novidades{
    background: #444;
}

.bg-equipa{
    background: #1f1200;
}

/*MENU TOP*/
.menu-top{
    height: 80px;
}

.page-headline{
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: #FFF;
    margin: 40px 0px;
}
/* NEW */

.new{
    width: 100%;
    padding-top: 40%;
    background: #444;
    position: relative;
}

.new .img{
    position: absolute;
    top:0;
    left:0;
    background: #444;
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.new .content{
    position: absolute;
    top:0;
    left:50%;
    background: #2C7297;
    width: 50%;
    height: 100%;
    color: #FFF;
    text-align: center;
}

.new .tag{
    text-align: right;
    margin:20px;
    height: 40px;
}

.new .text-area{
    text-align: center;
    width: 70%;
    margin:auto;
    margin-top: 15%;
    position: relative;
}

.new .text{
    font-size: 30px;
    vertical-align: middle;
}
.new .date{
    font-size: 16px;
    vertical-align: middle;
    margin-top: 15%;
}

.new .button{
    border: 1px #FFF solid;
    padding: 5px 15px;
    text-align: center;
    margin: 0 auto;
    background: transparent;
    color:#FFF;
    position: relative;
    font-family: var(--roboto) !important;
    margin-top: 10%;
}

.new .button:hover{
    color:#222;
    background: #FFF;
}

.new-right .content{
    left:0px !important;
}

.new-right .img{
    left:50% !important;
}

/* INVESTIGADOR */

.investigador{
    padding-top:20%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    position: absolute;
    overflow: hidden;
}

.investigador:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.investigador:hover .bt{
    opacity: 1;
    transform: scale(1,1) ;
    -webkit-transition: all  0.5s; /* Safari */
    transition: all 0.5s;
    transition-delay: 0.4s;
}
.investigador:hover .descricao{
    transform: translate(0px, 0px); 
}
.investigador .descricao{
    position: absolute;
    bottom:0px;
    left: 0px;
    width: 100%;
    background: #0007;
    color: #FFF;
}

.investigador .descricao{
    position: absolute;
    bottom:0px;
    left: 0px;
    width: 100%;
    background: #0007;
    color: #FFF;
    font-family: var(--roboto) !important;
    padding: 5px;
    transform: translate(0px, 100px); 
    -webkit-transition: all  0.5s; /* Safari */
    transition: all 0.5s;
}

.investigador .descricao .nome{
    height: 25px;
    font-size: 16px;
    overflow: hidden;
    display: 0px;
}
.investigador .descricao .profissao{
    height: 18px;
    font-size: 14px;
    overflow: hidden;
}
.investigador .redes{
    position: absolute;
    bottom:55px;
    right: 10px;
}
.investigador .bt{
    display: block;
    height: 22px;
    width: 22px;
    margin-bottom: 15px;
    transform: scale(0.5, 0.5);
    opacity: 0;
    transition-delay: 0s;
}