<div class="bg-contactos" ng-controller="Contactos" id="Contactos" style="height:100%;">

    <div class="menu-top" ng-click="angular" style="background: #0000;">
        <div class="logo" ng-click="back()"></div>
    </div>

    <div class="full-page-content">
        <div class="row h-100">
            <div class="col h-100 contacts-container">
                <div class="contacts">
                    ESCOLA SUPERIOR DE TECNOLOGIA E GESTÃO
                    <br>
                    <br> Rua do Curral, Casa do Curral, Margaride 4610-156 Felgueiras Portugal
                    <br>
                    <br> T. +351 255 314 002
                    <br> F. +351 255 314 120
                    <br> E. correio@estg.ipp.pt
                </div>
            </div>
            <div class="col h-100 p-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10825.815441000674!2d-8.19647264259596!3d41.36673687577404!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xca919ba04ec42efc!2sESTG+-+Escola+Superior+de+Tecnologia+e+Gest%C3%A3o+%7C+Polit%C3%A9cnico+do+Porto!5e0!3m2!1sen!2spt!4v1517266568724"
                    frameborder="0" style="border:0; width:100%; height:100%;" allowfullscreen></iframe>
            </div>
        </div>

    </div>
</div>