<div ng-controller="Projetos" id="Projetos">
    <div class="bg-projetos full-square" style="overflow:hidden;">
        
        <div class="full-square">
            <div class="square">
            </div>
        </div>

        <div class="full-page-content">
            <div class="menu-top">
                <div class="logo" ng-click="back()"></div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="page-headline mb-0">OS NOSSOS PROJETOS</div>
                </div>
            </div>

            <div class="projetos-container">
                <div class="projetos-gallery">

                    <div class="template-projeto">
                        <div class="content">
                            <div class="title">
                            </div>
                        </div>
                    </div>

                    <div class="arrow-container-left" ng-click="prev()">
                        <div class="arrow"></div>
                    </div>
                    <div class="arrow-container-right" ng-click="next()">
                        <div class="arrow"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-page">
            <div class="close"></div>
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-md-6">
                        <div class="title"> {{Projeto.title}}
                        </div>
                        <div class="content">
                            {{Projeto.content}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-container">

                            <div class="img" style="background-image: url('{{Projeto.img}}')">

                            </div>

                            <div class="img-description">
                                27/01/2018
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>